@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Noto+Serif+Malayalam&family=Suez+One&display=swap');

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif Malayalam', serif;
    margin: 0;
    padding: 0;
    background-color: #A51C30;
    color: white;
}

.hidden {
    display: none !important;
}


.mode-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 15px;
}

.mode-button {
    font-size: 3rem;
    margin: 3vh;
    color: white;
    background-color: #A51C30;
    border: none;
}

#mode-select-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

#description {
    font-size: 1.5rem;
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3rem;
    margin-top: 10vh;
}

h3 {
    font-size: 2rem;
    color:#A51C30;
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}

main > input {
    margin-top: 5vh;
    font-size: 3rem;
    text-align: center;
}

button {
    font-family: 'Montserrat Subrayada', sans-serif;
    cursor: pointer;    
}

#submit {
    font-size: 2rem;
}

#over-or-under {
    margin-top: 5vh;
    font-size: 2rem;
    color: white;
}

#number-range {
    padding-top: 0;
    margin-top: 0;
}

.small-text {
    font-style: italic;
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    main > input {
       font-size: 1rem;
        width: 50vw;
    }
}
